cache:
- bundler
- cocoapods
- directories:
  - "$HOME/android-sdk-dl"
  - "$HOME/android-sdk"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"

matrix:
  include:
  - language: android
    jdk: oraclejdk8
    sudo: false
    android:
      components:
        - tools
        - platform-tools

         # The BuildTools version used by the project
        - build-tools-28.0.2

         # The SDK version used to compile the project
        - android-28
        - android-21

         # Additional components
        - extra-google-google_play_services
        - extra-google-m2repository
        - extra-android-m2repository
        - addon-google_apis-google-28

         # System images to run emulators
        - sys-img-armeabi-v7a-android-28
        - sys-img-armeabi-v7a-android-21
    before_install:
    - wget https://www.openssl.org/source/openssl-1.1.0g.tar.gz > /dev/null
    - tar xzvf openssl-1.1.0g.tar.gz > /dev/null
    - cd openssl-1.1.0g
    - ./config
    - make > /dev/null
    - sudo make install > /dev/null
    - export LD_LIBRARY_PATH=/usr/local/lib:/usr/local/lib64
    - sudo ldconfig
    - pwd
    - cd ../android
    - openssl version -v
    - openssl aes-256-cbc -k "$ENCRYPTED_ANDROID_BETA_GOOGLE_SERVICES_PW" -in ./encrypted/google-services.json.beta.encrypted -out ./app/google-sersvices.json -d
    - openssl aes-256-cbc -k "$ENCRYPTED_ANDROID_SECRETS_XML_PW" -in ./encrypted/secrets.xml.encrypted -out ./app/src/main/res/values/secrets.xml -d
    - openssl aes-256-cbc -k "$ENCRYPTED_ETSMOBILE_KEYSTORE_PW" -in ./encrypted/etsmobile_notre_dame_keystore.jks.encrypted -out ./etsmobile_notre_dame.jks -d
    - openssl aes-256-cbc -k "$ENCRYPTED_KEYSTORE_PROPERTIES_PW" -in ./encrypted/keystore.properties.encrypted -out ./keystore.properties -d
    - yes | sdkmanager "platforms;android-28" > /dev/null
    - yes | sdkmanager "platforms;android-27" > /dev/null
    - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
    - emulator -avd test -no-audio -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &
    before_script:
    - cd ..
    - pwd
    - chmod +x gradlew
    script:
    - "./gradlew assembleRelease -PdisablePreDex"
    - "./gradlew ktlintCheck > /dev/null"
    - "./gradlew test > /dev/null"
    - "./gradlew connectedAndroidTest -PdisablePreDex"
        
  - os: osx
    osx_image: xcode10
    language: swift
    xcode_project: ../Notre-Dame/ios/ETS-mobile/ETS-mobile.xcodeproj
    xcode_scheme: ../Notre-Dame/ios/ETS-mobile/ETS-mobile
    xcode_sdk : iphonesimulator11.3
    before_script:
    - gem install xcpretty
    script:
    - xcodebuild clean -project ../Notre-Dame/ios/ETS-mobile/ETS-mobile.xcodeproj | xcpretty
    - xcodebuild build -project ../Notre-Dame/ios/ETS-mobile/ETS-mobile.xcodeproj -sdk iphonesimulator11.3 -scheme ETS-mobile CODE_SIGNING_REQUIRED=NO | xcpretty
    
notifications:
  slack:
    rooms:
      #- secure: G66jXpwuU9KbUHfN+I4DWLf20GiBxoSnt6Cd8Kacm6EulQFAtzXldZMS2hnI1nH4dzH0vH6QTADRbd7vR5U7Qrs+e8SFzbnTL+JkwUE/hieQtHfAmm7ed+TdUecPRtbCRQ9OLrrXgyQb/FiyWfX9Kkz6114sn/xZzB5n85jcs93igfydPt4wd6XDBRS9vTIedKI840bs9YyrLaZIndlZeQXChDmiq98/BHNS32Vz3XOZ46u23IpdK/g0Byw5STkXtFESVkZFnYdn6NPd/pTwKgh7slzJVvIcMLWSEBtpYWc+kwN52j1Kpu1ArL9j92rX73BKYMM0dZNup53dRC9VLVilOooQiAXVVON/eNwaBZeYOCPD2IT2p2/Ssju6X6CIyUTpc0WkekYTlgvHFSJ02VZhrJevYKlo/pqlhQmHljRxYW/jtEVNV2rN5iSN8okNz+sjdKfdJvWRqGXrvZlxuwzF0I4CL9N+9OAlYMTXiCwY0ZNuYExkDbb3TqXlwJwb5jNZU8+NPmqh0z4c5DkeuM0WFjgHWmvJso2v58Vh6jgLrFj2F7WiAYsCF+KvXOq6hTSUnvHj00pVP3nfazYQrNvbOed5W25tkVcRCkDQPNOC0WD+CHorTr6pHydmWaDrYrZUTCVTPgNY8S7CnexPOHDscyPxz1nqWzB1Ax7AMQw= #android	
      #- secure: Lr8TckqEHc+aKs6/9Ey7sVYr4yqzaPzUe5bDsy0NlsRlUZu6S6qtaCZmoiGbRD2u5lxih5grUqH5zSHMB2WjI2HrsZu9Q53LtzrkAh9rZ2pYVpX8rlV49Q5mtp9SitUAtvydqnqTe682udTRRTz0BKeORQnjYGKRZTgPK8546CF0lo3I0dp7+dKeab0fRKZYBP+50pYlDePZKMs72O7X43x3j4dCR7NL25SKNXyVwuNv4ul3nrm8OZ8yUDnBwiJaalT4wFODCIwUhbE7+f5QkuPdhV0leuHxzy9YJdNR/yorJxPUGWyuE3KUqsHjRqJIWJ4uhSFdMnu7i6j4GePcHwC9OMnCVfQQVNfW1yoo8gab90YSnkdaDX0YayhDpbTenIlsouUW3NkMYcnwajzX1vJqupofMAD6nnpf+JQH4z1tkNYa5CNJwAOIiZFm+PISDPLHFBO1vh+U4jpBlylUsLJKmpLJe3NaIHLnZsXqBlm0gCekhOWhTRfwZULPwerKDb3besnJJQiaODiNDHpIW32/MfZKUMIE9ZK+lFKLSCGk+bXvuvEQV19BXSuKyXARYjkAsYvZ8H6QPRZ/G++buq3SLdduXaqiInaU/+f2tHcBb3o+rRa24buGNLwHYNDWOD84tPQr6oCbGQg5hpdRXsXwHmdcxefcRHPE1gcsZag= #ios
      - secure: f14JpVbaebGoeSNiqYPzbSBbrdOn4iFiitX6bZ1+RH8XRa6QSHIFIQfGPqYH90oAc+gzrh1S0KyDeJoOMwwUfjOpHZ9MxieZZTt/wLkE8MOgLIzzQag1eX5t733qCKhBVeDaEfrIB8Y1lnm8GXKyPHs4Kw7DJIMaZccWs7CwNc1GMAPUByS8QwNuk+VaCXUVuHcPrtoX1gr4ocpDU88txuROP/ZzmuZSdXm3t1IrQYPlQTp+ejWqbhenwTDsb68V1Z/iTiWzJ2ghs+xaAN5c+cIAv2TbywvGVZAX/NpjE8/vHdcvZ3jpZWKkLnFv8O6jh22e7wOLc5kBB9tdzPsWD0uJnxQpBIOqjCqZFwjXJWlobv8MjCmcoKxDRi2VaB1Ypj5un6TcyGHw3Gj84i5qhD+jnTM6Y7rw7H8kmE+tHHcT5kdcTgUeM4NS+P08AgZGoKN8snfyJgz+Ccr4yUhXYL9BQ58DyWT7p9uklpdtkDEdckL5HCuCQyTmCrXFeLYpUH1g1mR7PQMBPs+8o9FI3Q8V0jtijAHvK2U3zUG3AzDAO1E5euF6yogmxESa0n0jEHdo8RAs8QBziWB4dvyabObMEbcTdxjna2KZlVHsssWwn7qkxeOJxDmF1CK/S0rdGNZp1Wx8MPh/Y9+XsgIECS7JbW0KdnrJFUzf1W8b06k= #notredame
    on_success: change           
