matrix:
  include:
  - language: android
    jdk: oraclejdk8
    sudo: false
    android:
      components:
        - tools
        - platform-tools

        # The BuildTools version used by the project
        - build-tools-28.0.2

        # The SDK version used to compile the project
        - android-28
        - android-21

        # Additional components
        - extra-google-google_play_services
        - extra-google-m2repository
        - extra-android-m2repository
        - addon-google_apis-google-28

        # System images to run emulators
        - sys-img-armeabi-v7a-android-28
        - sys-img-armeabi-v7a-android-21
    before_install:
    - yes | sdkmanager "platforms;android-28"
    - yes | sdkmanager "platforms;android-27"
    - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
    - emulator -avd test -no-audio -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &

    script:
      - ./android/gradlew assembleDebug -PdisablePreDex
      - ./android/gradlew ktlintCheck
      - ./android/gradlew test
      - ./android/gradlew connectedAndroidTest --info
        
  - os: osx
    osx_image: xcode10
    language: swift
    xcode_project: ../Notre-Dame/ios/ETS-mobile/ETS-mobile.xcodeproj
    xcode_scheme: ../Notre-Dame/ios/ETS-mobile/ETS-mobile
    xcode_sdk: iphonesimulator11.3
    before_script:
    - gem install xcpretty
    script:
    - xcodebuild clean -project ../Notre-Dame/ios/ETS-mobile/ETS-mobile.xcodeproj | xcpretty
    - xcodebuild build -project ../Notre-Dame/ios/ETS-mobile/ETS-mobile.xcodeproj -sdk iphonesimulator11.3 -scheme ETS-mobile CODE_SIGNING_REQUIRED=NO | xcpretty
    notifications:
      email: false
