os: osx
language: swift
osx_image: xcode9.3
xcode_project: ../Notre-Dame-iOS/ETS-mobile/ETS-mobile.xcodeproj
xcode_scheme: ../Notre-Dame-iOS/ETS-mobile/ETS-mobile
xcode_sdk: iphonesimulator11.3
notifications:
  email: false
  slack:
    secure: Fpe50FMp+zZhFMTLw9nxNRYg8dJi4p07UbGedXrhgaMfxlPI5RJeTEYmPHleumQtcHplf2N31YSRLuz+0hyPosu3sdmEyGGfQ8vYSp5OS0CvVYy5yLXEJYzo63DXiJuE1mlFbis8HGXftRqqMSrm+6aYmP0vxtUoIc4mKydQ+2H0Dl1Wi5JxMUJOzB5ZG5SjoLMJ4If8SS/gdJny/AwrxpSI+bJpjIBDVDKRCwzJ3GihV+7TMPoSG/s0zev+8n/z7Ts2oB4X2xAgQQkNUK/goRrRO0n96sy7KM2t9w2KeD58tDHSRuZQYeQ5dIYVGvoceX0qYG/GI1yiSZRUzdWAY0E7GY/19RqMWk6BIzSX8e3QK59lwvZL3ffl2a49EkDHydIJUXoykxbHg2SOy3i1Tugu4rMkyufqrTKCbclowui3zlgV9tYdsGBwEe9pWWbs7HcsuwQTfi9K94h/V/K73e+VGtSA+8q30AtKjxk3slyoOh9NR0mQ9wh0Avo6lIosu8gyQ0YaOAgfe0cMqK/WPLL/oazBuIKanjZORa0rlCSkReVSmPMpwdSiGpXJBTKLn+n3u2ECZJ82B7X8DCATl9G5uO/De4wjjvuzfHwpJS1GObb2cxww5jZvXzscGflbZq5qjeedtlShXGdwSUzS5EF81xOdl85Cpg75LmVrWqI=
    on_success: change
    on_failure: always
before_script:
- gem install xcpretty
script:
  - xcodebuild clean -project ../Notre-Dame-iOS/ETS-mobile/ETS-mobile.xcodeproj | xcpretty
  - xcodebuild build -project ../Notre-Dame-iOS/ETS-mobile/ETS-mobile.xcodeproj -sdk iphonesimulator11.3 -scheme ETS-mobile CODE_SIGNING_REQUIRED=NO | xcpretty
